<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex And Grid</title>
    <!-- external css -->
     <link rel="stylesheet" href="../css/flexandgrid.css">
</head>
<body>

    <h1>Flex And Grid</h1>
    <div class="box_container">
        <div class="box box1">
            <span>Html</span>
            <span>css</span>
            <span>Javascript</span>
            <span>React</span>
        </div>
        <div class="box box2">box2</div>
        <div class="box box3">box3</div>
        <div class="box box4">box4</div>
    </div>
    <!-- grid -->
     <!-- .grid-container>.box.box1{box1}*4 -->
     <div class="grid-container">
        <div class="box box1">box1</div>
        <div class="box box2">box2</div>
        <div class="box box3">box3</div>
        <div class="box box4">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis architecto libero quam consequatur ea eaque, iusto animi et adipisci accusantium natus sequi ipsa, quo sint earum quidem itaque ducimus, pariatur totam recusandae veniam eum dolore similique omnis? Eligendi dignissimos deserunt, totam reiciendis nobis omnis. Ea enim quo tempora consequuntur aspernatur!
        </div>
     </div>
</body>
</html>