<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex And Grid</title>
    <!-- external css -->
     <link rel="stylesheet" href="../css/flexandgrid.css">
</head>
<body>

    <h1>Flex And Grid</h1>
    <div class="box_container">
        <div class="box box1">
            <span>Html</span>
            <span>css</span>
            <span>Javascript</span>
            <span>React</span>
        </div>
        <div class="box box2">box2</div>
        <div class="box box3">box3</div>
        <div class="box box4">box4</div>
    </div>
</body>
</html>