<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <!-- external css -->
     <link rel="stylesheet" href="../css/portfolio.css">
</head>
<body>
    <!-- section1 -->
     <section class="section1">
        <nav>
            <ol>
                <li class="logo">
                    <img src="../images/logo.svg" alt="logo">
                </li>
                <li class="links">
                    <a href="">About me</a>
                    <a href="">Skills</a>
                    <a href="">Portfolio</a>
                    <a class="contact" href="">CONTACT ME</a>
                </li>
            </ol>
        </nav>
        <div class="hero">hero</div>
     </section>
    
</body>
</html>